{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{name.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Name">Player Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Player Name" name="Name" value="{{name.Name}}">
        </div>
        <div class="col">
            <label for="Team">Team</label>
            <input id="Team" type="text" class="form-control" placeholder="Team"
                   name="Team" value="{{name.Team}}">
        </div>
        <div class="col">
            <label for="Position">Position</label>
            <input id="Position" type="text" class="form-control" placeholder="Position" name="Position" value="{{name.Position}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_inches">Height Inches</label>
            <input id="Height_inches" type="text" class="form-control" placeholder="Height_inches" name="Height_inches" value="{{name.Height_inches}}">
        </div>
        <div class="col">
            <label for="Weight_lbs">Weight lbs</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Weight_lbs" name="Weight_lbs" value="{{name.Weight_lbs}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Age</label>

            <input id="Age" type="text" class="form-control" placeholder="Age"
                   name="Age" value="{{name.Age}}">
        </div>
    <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}