{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Player Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height(Inch)</th>
        <th scope="col">Weight(Lbs)</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td><a href="view/{{city.id}}">{{ city.fldName }}</a></td>
        <td>{{ name.Team }}</td>
        <td>{{ name.Position }}</td>
        <td>{{ name.Height_inches }}</td>
        <td>{{ name.Weight_lbs }}</td>
        <td>{{ name.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}